x-common-variables: &common-variables
  POSTGRES_DB: assignment-4
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres

services:
  db:
    image: postgres:17-alpine3.22
    command:
      - 'postgres'
      - '-c'
      - 'max_connections=50'
      - '-c'
      - 'shared_buffers=1GB'
      - '-c'
      - 'effective_cache_size=4GB'
      - '-c'
      - 'work_mem=16MB'
      - '-c'
      - 'maintenance_work_mem=512MB'
      - '-c'
      - 'random_page_cost=1.1'
      - '-c'
      - 'temp_file_limit=10GB'
      - '-c'
      - 'log_min_duration_statement=200ms'
      - '-c'
      - 'idle_in_transaction_session_timeout=10s'
      - '-c'
      - 'lock_timeout=1s'
      - '-c'
      - 'statement_timeout=60s'
      - '-c'
      - 'shared_preload_libraries=pg_stat_statements'
      - '-c'
      - 'pg_stat_statements.max=10000'
      - '-c'
      - 'pg_stat_statements.track=all'
    environment:
      <<: *common-variables
      PGSTARTUP_TIMEOUT: 300
      PGCONNECT_TIMEOUT: 60
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database-init.sql:/docker-entrypoint-initdb.d/database-init.sql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    deploy:
      resources:
        limits:
          memory: 4G
        reservations:
          memory: 4G
    networks:
      - assignment-4
  server:
    build: server
    environment:
      <<: *common-variables
      POSTGRES_HOST: db
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
    networks:
      - assignment-4

volumes:
  db-data:

networks:
  assignment-4:
